<div class="popup">
	<div class="modal-header">
		<div>עלות המשלוח</div>
		<span ng-click="close()" class="x-btn"></span>
	</div>
	<div class="modal-body">
		<div class="row">
			<div class="col-lg-8 bold">
				מחיר בסיס:
			</div>
			<div class="col-lg-4">
				{{ priceData.basicPrice }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 bold">
				תוספת  דחיפות:
			</div>
			<div class="col-lg-4">
				{{ priceData.addForUrgency }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 bold">
				מקדם חבילות:
			</div>
			<div class="col-lg-4">
				{{ priceData.addForPackages }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 bold">
				מקדם קרטונים:
			</div>
			<div class="col-lg-4">
				{{ priceData.addForBoxes }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 bold">
				מקדם אחה"צ:
			</div>
			<div class="col-lg-4">
				{{ priceData.afternoon }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 bold">
				תוספת אמצעי הובלה:
			</div>
			<div class="col-lg-4">
				{{ priceData.vehicleTypePrice }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 bold">
				המתנה:
			</div>
			<div class="col-lg-4">
				{{ priceData.waiting }}
			</div>
		</div>
		<div class="row">
			<div class="col-lg-8 bold">
				תוספת משלוח כפול:
			</div>
			<div class="col-lg-4">
				{{ priceData.addForDouble }}
			</div>
		</div>
		<hr>
		<div class="row sum">
			<div class="col-lg-6 bold">
				סה"כ:
			</div>
			<div class="col-lg-6 bold">
				{{ priceData.totalPrice }} ש"ח
			</div>
		</div>
	</div>
</div>
