<div ng-controller="dashboardCtrl" class="full-height">
	<div class="col-lg-8 col-sm-12 col-xs-12 col-md-6 full-height">
		<div class="row dashboard-top">
			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 ">
				<div class="profile-area">
					<div class="profile-picture"><a href="#"><img src="/static/images/profile.png" /></a></div>
					<h1>{{ user.name }}</h1>
				</div>
			</div>
			
		</div>
		<div class="row dashboard-menu">
			<div class="col-lg-10">
				<div class="row">
					<div class="col-lg-3" ng-repeat="menu in menus">
						<div class="menu-item" style="background: url('/static/images/icons/{{ menu.icon }}') no-repeat center 50px;" ng-click="menu.click()">
							{{ menu.name }}
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>
	<div class="col-lg-4 col-sm-12 col-xs-12 col-md-6 full-height">
		<div id="deliveriesTable">
			<div class="dash-header">
				
				<div class="right-area-dash"><h1> התראות משלוחים</h1></div>
			</div>
			<div class="dash-iner scrollbar">
				<div ng-repeat="delivery in deliveries | limitTo: 15" class="deliveries-list-item" data-id="{{delivery.id}}" ng-dblclick="showRecord($event)">
					<div class="list-time" ng-class-odd="'odd'"><span>{{ delivery.created | date:'HH:mm'}}</span></div>
					<div class="list-customer"><span>{{ delivery.customer.name }}</span></div>
					<div class="list-dest"><span>{{ delivery.destCity.name }}</span></div>
					<div class="list-status"><span>{{ deliveryStatuses[delivery.status].name }}</span></div>
				</div>
			</div>
		</div>
		<div id="notificationsTable">
			<div class="dash-header-2">
				<!--<div class="left-area-dash table-header-btns">
					
				</div>-->
				<div class="right-area-dash"><h1>התראות מערכת</h1></div>
			</div>
			<div class="dash-iner scrollbar">
				<div class="notification-list-item" ng-class-odd="'odd'" ng-repeat="item in notifications">
					<div class="notif-type"><h1 style="background-color:{{item.color}};">{{ item.type }}</h1></div>
					<div class="notif-content"><h1>{{ item.content }}</h1></div>
				</div>
			</div>
		</div>
	</div>
</div>