<div ng-controller="rakazCtrl" class="full-height" key-press>
	<div class="rakaz-top-bar">
		<div class="row">
			<div class="col-sm-4">
				<div class="path-fields">
					<div>
						מ
						<input class="form-control" ng-model="currRecord.sender" ng-change="submitChanges('sender')" ng-model-options="{debounce:750}">
					</div>
					<div>
						ל
						<input class="form-control" ng-model="currRecord.receiver" ng-change="submitChanges('receiver')" ng-model-options="{debounce:750}">
					</div>
				</div>
				<div class="instructions-fields">
					<textarea class="form-control" ng-model="currRecord.instructions" ng-change="submitChanges('instructions')" ng-model-options="{debounce:750}"></textarea>
				</div>
			</div>
			<div class="col-sm-8">
				<div class="column">
					<div class="with-label">
						<label>איש קשר</label>
						<input class="form-control" ng-model="currRecord.contactMan.name">
					</div>
					<div class="with-label">
						<label>סוג</label>
						<input class="form-control" ng-model="currRecord.deliveryType" disabled>
					</div>
					<div class="with-label">
						<label>טלפון</label>
						<input class="form-control" ng-model="currRecord.contactMan.phone2" disabled>
					</div>

				</div>
				<div class="column">
					<button type="button" ng-click="setFilterOpenes()">{{ countOpens }} פתוחים</button>
					<button type="button" ng-click="setFilterWaitings()">{{ countWaitings }} בהמתנה</button>
				</div>
				<div class="column">
					<select ng-model="currRecord.vehicleType.id" ng-options="vehicle.id as vehicle.name for vehicle in vehicleTypes" ng-change="submitChanges('vehicleType')">
					</select>

					<select ng-model="currRecord.thirdDeliver.id" ng-options="employee.id as employee.name for employee in employees" ng-change="submitChanges('thirdDeliver')">
					</select>
				</div>
				<div class="column">
					<div class="with-label">
						<label>מקבל1:</label>
						<input class="form-control" ng-model="currRecord.firstReceiverName" ng-change="submitChanges('firstReceiverName')" ng-model-options="{debounce:750}">
					</div>
					<div class="with-label">
						<label>מקבל2:</label>
						<input class="form-control" ng-model="currRecord.secondReceiverName" ng-change="submitChanges('secondReceiverName')" ng-model-options="{debounce:750}">
					</div>
					<div class="with-label">
						<label>תאריך:</label>
						<input type="date" class="form-control hide-date-picker" ng-model="currRecord.dateCreated" disabled>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="form-area-filters">
		<div class="row">
			<div class="col-sm-12">
				<!--<div ng-repeat="filter in filters" ng-click="filter.method()" class="filter-btn" style="background:url('/static/images/icons/filters/{{ filter.icon }}') no-repeat;">
					{{ filter.title }}
				</div>-->
				<button type="button" class="btn btn-default filter-btn" ng-repeat="filter in filters" ng-click="filter.method()" style="background:url('/static/images/icons/filters/{{ filter.icon }}') no-repeat; background-position: right 5px top 50%;">
					{{ filter.title }}
				</button>
			</div>
		</div>
	</div>
	<div class="form-area-iner2 scrollbar">
		<div class="col-sm-12">
			<div id="content-1">
				<div class="tracking-header">
					<!--<div class="clock"><img src="/static/images/clock.png" /></div>-->
					<div ng-class="{'table-header-column-first': $first}" class="table-header-column" ng-repeat="column in table.columns">
						<h1 style="width: {{ column.width }}%;">{{ column.name }}</h1>
					</div>
				</div>
				<!--<div class="tracking-list" ng-repeat="record in records | filter:filterDeliveries" data-id="{{ record.id }}" ng-click="selectRecord($index)" ng-dblclick="showRecord($event)">-->
				<div class="tracking-list" ng-repeat="record in filteredRecords = (records | orderBy:'created' | filter:filterDeliveries)" ng-class="{'curr': currRecordIndex == $index}" data-id="{{ record.id }}" ng-click="selectRecord(record, $index)" ng-dblclick="showRecord($event, record)" ng-mouseover="hover = true" ng-mouseleave="hover=false">
					<!--<div class="timing"><h1>6E +<br />07</h1></div>-->
					<div class="second-1"><h1>{{ record.created | date : 'HH:mm' }}</h1></div>
					<div class="third-1"><h1>{{ record.customer.name }}</h1></div>
					<div class="third-1-2"><h1>{{ record.sourceStreet }} {{ record.sourceHomeNum }}, {{ record.sourceCity.name }}</h1></div>
					<div class="third-1-3"><h1>{{ record.destStreet }} {{ record.destHomeNum }}, {{ record.destCity.name }}</h1></div>
					<div class="fourth-1"><h1 ng-class="checkUrgency(record.urgency.name)">{{ record.urgency.name }}</h1></div>
					<div class="fourth-1-2"><h1 ng-class="checkDouble(record.doubleType.name)">{{ record.doubleType.name }}</h1></div>
					<div class="five-1">
						<!--<h1 popover="{{record.firstDeliver.name}}" popover-trigger="mouseenter">{{ record.firstDeliver.name }}</h1>-->
						<select ng-options="employee.id as employee.name for employee in employees" ng-change="change(record, 'firstDeliver', record.firstDeliver.id)" ng-model="record.firstDeliver.id">
						</select>
					</div>
					<div class="five-2">
						<!--<h1 popover="{{record.secondDeliver.name}}" popover-trigger="mouseenter">{{ record.secondDeliver.name }}</h1>-->
						<select ng-options="employee.id as employee.name for employee in employees" ng-change="change(record, 'secondDeliver', record.secondDeliver.id)" ng-model="record.secondDeliver.id">
						</select>
					</div>
					<div class="last-timer">
						<!--<h1 popover="{{record.status.name}}" popover-trigger="mouseenter">{{ record.status.name }}</h1>-->
						<select ng-options="status.id as status.name for status in deliveryStatuses | orderBy: 'name'" ng-change="change(record, 'status', record.status, {{record.status}})" ng-model="record.status">
						</select>
					</div>
					<div class="last-timer-1"><h1>{{ record.endTime | date: 'HH:mm' }}</h1></div>
				</div>
			</div>
		</div>
	</div>
</div>
