<div ng-controller="deliveriesCtrl" class="full-height">
	<div class="rakaz-top-bar">
		<div class="row">
			<div class="col-sm-6">
				<div class="path-fields">
					<div>
						מ
						<input ng-model="currRecord.sender">
					</div>
					<div>
						ל
						<input ng-model="currRecord.receiver">
					</div>
				</div>
				<div class="instructions-fields">
					<textarea ng-model="currRecord.instructions"></textarea>
				</div>
			</div>
			<div class="col-sm-6">

			</div>
		</div>
		<!--<div class="row">
			<div class="col-sm-4">
				<div class="row">
					<div class="col-sm-6 form-field">
						<input type="text" ng-model="currRecord.sender.name" disabled><label>מוצא</label>
					</div>
					<div class="col-sm-6 form-field">
						<input type="text" ng-model="currRecord.receiver.name" disabled><label>יעד</label>
					</div>

					<div class="col-sm-12 form-field">
						<textarea ng-model="currRecord.comment" disabled></textarea><label>הערות</label>
					</div>
				</div>
			</div>

			<div class="col-sm-2">
				<div class="row">
					<div class="col-sm-12 form-field">
						<input type="text" ng-model="currRecord.firstReceiverName" disabled><label>מקבל1</label>
					</div>
					<div class="col-sm-12 form-field">
						<input type="text" ng-model="currRecord.secondReceiverName" disabled><label>מקבל2</label>
					</div>

					<div class="col-sm-6">
					</div>
				</div>
			</div>
			<div class="col-sm-2">
				<div class="row">
					<div class="col-sm-12 form-field">
						<input ng-model="currRecord.contactMan.name" disabled>
						<label>איש קשר</label>
					</div>
					<div class="col-sm-12 form-field">
						<input ng-model="currRecord.contactMan" disabled>
						<label>איש קשר</label>
					</div>
				</div>
			</div>
			<div class="col-sm-2 form-field">
				<select ng-model="currRecord.vehicleType.id">
					<option></option>
					<option ng-repeat="vehicle in vehicles" value="{{ vehicle.id }}">{{ vehicle.name }}</option>
				</select>
				<label>אמצעי הובלה</label>
			</div>
			<div class="col-sm-2 form-field">

			</div>
		</div>-->
	</div>
	<div class="form-area-filters">
		<div class="row">
			<div class="col-sm-12">
				<!--<div ng-repeat="filter in filters" ng-click="filter.method()" class="filter-btn" style="background:url('/static/images/icons/filters/{{ filter.icon }}') no-repeat;">
					{{ filter.title }}
				</div>-->
				<button type="button" class="btn btn-default filter-btn" ng-repeat="filter in filters" ng-click="filter.method()" style="background:url('/static/images/icons/filters/{{ filter.icon }}') no-repeat; background-position: right 5px top 50%;">
					{{ filter.title }}
				</button>
			</div>
		</div>
	</div>
	<div class="form-area-iner2 scrollbar">
		<div class="col-sm-12">
			<div id="content-1">
				<div class="tracking-header">
					<!--<div class="clock"><img src="/static/images/clock.png" /></div>-->
					<div ng-class="{'table-header-column-first': $first}" class="table-header-column" ng-repeat="column in table.columns">
						<h1 style="width: {{ column.width }}%;">{{ column.name }}</h1>
					</div>
				</div>
				<!--<div class="tracking-list" ng-repeat="record in records | filter:filterDeliveries" data-id="{{ record.id }}" ng-click="selectRecord($index)" ng-dblclick="showRecord($event)">-->
				<div class="tracking-list" ng-repeat="record in records | orderBy:'endTime' | filter:filterDeliveries" data-id="{{ record.id }}" ng-click="selectRecord($index)" ng-dblclick="showRecord($event, record)">
					<!--<div class="timing"><h1>6E +<br />07</h1></div>-->
					<div class="second-1"><h1 popover="{{record.created| date : 'HH:mm'}}" popover-trigger="mouseenter">{{ record.created | date : 'HH:mm' }}</h1></div>
					<div class="third-1"><h1 popover="{{record.customer.name}}" popover-trigger="mouseenter">{{ record.customer.name }}</h1></div>
					<div class="third-1-2"><h1 popover="{{ record.sourceStreet }} {{ record.sourceHomeNum }}, {{ record.sourceCity.name }}" popover-trigger="mouseenter">{{ record.sourceStreet }} {{ record.sourceHomeNum }}, {{ record.sourceCity.name }}</h1></div>
					<div class="third-1-3"><h1 popover="{{record.destStreet}} {{ record.destHomeNum }}, {{ record.destCity.name }}" popover-trigger="mouseenter">{{ record.destStreet }} {{ record.destHomeNum }}, {{ record.destCity.name }}</h1></div>
					<div class="fourth-1"><h1 popover="{{record.urgency.name}}" popover-trigger="mouseenter">{{ record.urgency.name }}</h1></div>
					<div class="fourth-1-2"><h1 popover="{{record.doubleType.name}}" popover-trigger="mouseenter">{{ record.doubleType.name }}</h1></div>
					<div class="five-1">
						<!--<h1 popover="{{record.firstDeliver.name}}" popover-trigger="mouseenter">{{ record.firstDeliver.name }}</h1>-->
						<select ng-options="employee.id as employee.name for employee in employees" ng-change="change(record, 'firstDeliver', record.firstDeliver.id)" ng-model="record.firstDeliver.id">
						</select>
					</div>
					<div class="five-2">
						<!--<h1 popover="{{record.secondDeliver.name}}" popover-trigger="mouseenter">{{ record.secondDeliver.name }}</h1>-->
						<select ng-options="employee.id as employee.name for employee in employees" ng-change="change(record, 'secondDeliver', record.secondDeliver.id)" ng-model="record.secondDeliver.id">
						</select>
					</div>
					<div class="last-timer">
						<!--<h1 popover="{{record.status.name}}" popover-trigger="mouseenter">{{ record.status.name }}</h1>-->
						<select ng-options="status.id as status.name for status in deliveryStatuses" ng-change="change(record, 'status', record.status)" ng-model="record.status">
						</select>
					</div>
					<div class="last-timer-1"><h1 popover="{{record.endTime | date: 'HH:mm'}}" popover-trigger="mouseenter">{{ record.endTime | date: 'HH:mm' }}</h1></div>
				</div>
			</div>
		</div>
	</div>
</div>
