<div class="main-login2" ng-controller="loginCtrl">
	<form>
		<div class="login-iner2">
			<div class="login-2-header"><img src="static/images/close.png" class="img-responsive" /></div>
			<div class="profile"><img src="static/images/profile_03.png" class="img-responsive" /></div>
			<div class="input-area">
				<input type="text" ng-model="username">
				<img src="static/images/line_03.png" style="width:100%" />
				<input type="password" ng-model="password">
				<img src="static/images/line_03.png" style="width:100%" />
			</div>
		</div>
		<div class="login-button2"><input type="submit" value="Login" ng-click="login()"/></div>
	</form>
</div>