<div class="table-page-main" ng-controller="mainCtrl">
	<div class="table-page-right-area">
		<div class="right-area-dif">
			<ul class="nav nav-pills nav-stacked">
				<li ng-repeat="item in menus[currMenu]" data-link="{{ item.link }}" ng-click="gotoPage(item.link)" ng-class="{'curr': currPage == item.link}">{{ item.title }}</li>
			</ul>
		</div>
	</div>
	<div class="table-page-left-area" id="main">
		<div class="header-date">
			<div class="header-date-iner">
				<div class="left-area table-header-btns">
					<div class="function-1">
						<img src="/static/images/finish_03.png" ng-click="goToHome()" class="img-responsive" />
					</div>
				</div>
				<div class="right-area">
					<h1>{{ currTable }}</h1>
				</div>
			</div>
		</div>
		<div class="alert-area" ng-controller="alertCtrl">
			<alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{ alert.msg }}</alert>
		</div>
		<div class="form-area" ui-view>

		</div>
	</div>
</div>
