<div class="form-area-iner scrollbar" ng-controller="newDeliveryCtrl">
	<div class="row">
		<div class="col-sm-4 col-sm-offset-4 form-field">
			<select ng-change="selectDelivery()" ng-options="delivery.id for delivery in deliveries" ng-model="selectedDelivery"></select>
			<label>בחר מספר משלוח קיים</label>
		</div>
		<div class="col-sm-1">
			<button ng-click="newDelivery()" class="btn btn-primary">חדש</button>
		</div>
		<div class="col-sm-1">		
			<button ng-click="deleteDelivery()" class="btn btn-danger" ng-class="{'disabled': !delivery.id}">מחק</button>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-2 form-field">
			<input type="text" ng-model="delivery.id" disabled><label>מס. משלוח</label>
		</div>
		<div class="col-sm-2 form-field">
			<input type="time" ng-model="delivery.created" disabled><label>שעה</label>
		</div>
		<div class="col-sm-2 form-field">
			<input type="date" ng-model="delivery.created" disabled><label>תאריך</label>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-6 form-field">
			<!--<ui-select ng-model="delivery.customer" theme="bootstrap">
				<ui-select-match>{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="customer.id as customer in customers | propsFilter: {name: $select.search, id: $select.search}">
					<div ng-bind-html="customer.name | highlight: $select.search"></div>
				</ui-select-choices>
			</ui-select>-->
			<select ng-model="delivery.customer" ng-change="customerSelected()">
				<option ng-repeat="customer in customers" value="{{ customer.id }}" data-index="{{$index}}">{{ customer.name }}</option>
			</select>
			<label>לקוח</label>
		</div>
		<div class="col-sm-2 form-field">
			<input type="text" disabled ng-model="delivery.customer">
			<label>מספר לקוח</label>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4 form-field">
		
			<!--<select ng-model="delivery.contactMan">
				<option></option>
				<option ng-repeat="item in contactMans" value="{{ item.id }}">{{ item.name }}</option>
			</select>-->
			<select ng-model="delivery.contactMan" ng-options="item.name for item in contactMans"></select>
			<!--<input type="text" ng-model="delivery.ContactMan">-->
			<label>איש קשר</label>
		</div>
		<div class="col-sm-2 form-field">
			<select ng-model="delivery.type" ng-change="change()" class="combobox">
				<option value="0">שליחות</option>
				<option value="1">איסוף</option>
				<option value="2">העברה</option>
			</select>
			<label>סוג</label>
		</div>
	</div>
	<hr>
	<div class="row">
		<span class="col-sm-2">
			<label>מוצא</label>
		</span>
	</div>
	<div class="row">
		<!--<div class="col-sm-1">
			<label class="form-title">
				מוצא
			</label>
		</div>-->
		<div class="col-sm-2 form-field">
			<!--<ui-select ng-model="delivery.sender" theme="bootstrap">
				<ui-select-match>{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="customer.id as customer in customers | propsFilter: {name: $select.search, id: $select.search}">
					<div ng-bind-html="customer.name | highlight: $select.search"></div>
				</ui-select-choices>
			</ui-select>-->
			<select ng-model="delivery.sender">
				<option></option>
				<option ng-repeat="customer in customers" value="{{customer.id}}">{{ customer.name }}</option>
			</select>
			<label>שם חברה</label>
		</div>
		<div class="col-sm-2 form-field">
			<input type="text" ng-model="delivery.sourceStreet"><label>רחוב</label>
		</div>
		<div class="col-sm-2 form-field">
			<input type="text" ng-model="delivery.sourcePhone">
			<label>טלפון</label>
		</div>
		<div class="col-sm-1 form-field">
			<input type="text" ng-model="delivery.sourceHomeNum">
			<label>מס' בית</label>
		</div>
		<div class="col-sm-1 form-field">
			<input type="text" ng-model="delivery.sourceHomeEnter">
			<label>כניסה</label>
		</div>
		<div class="col-sm-1 form-field">
			<input type="text" ng-model="delivery.sourceFloor">
			<label>קומה</label>
		</div>
		<div class="col-sm-1 form-field">
			<input type="text" ng-model="delivery.sourceApart">
			<label>דירה</label>
		</div>
		<div class="col-sm-2 form-field">
			<!--<ui-select ng-model="delivery.sourceCity" theme="bootstrap">
				<ui-select-match>{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="city.id as city in cities | propsFilter: {name: $select.search, id: $select.search}">
					<div ng-bind-html="city.name | highlight: $select.search"></div>
				</ui-select-choices>
			</ui-select>-->
			<select class="combobox" ng-model="delivery.sourceCity">
				<option></option>
				<option ng-repeat="city in cities" value="{{ city.id }}">{{ city.name }}</option>
			</select>
			<label>עיר</label>
		</div>
	</div>
	<div class="row">
		<span class="col-sm-2">
			<label>יעד</label>
		</span>
	</div>	
	<div class="row">
		<!--<div class="col-sm-1">
			<label class="form-title">
				יעד
			</label>
		</div>-->
		<div class="col-sm-2 form-field">
			<!--<ui-select ng-model="delivery.receiver" theme="bootstrap" ng-change="change()">
				<ui-select-match>{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="customer.id as customer in customers | propsFilter: {name: $select.search, id: $select.search}">
					<div ng-bind-html="customer.name | highlight: $select.search"></div>
				</ui-select-choices>
			</ui-select>-->
			<select ng-model="delivery.receiver">
				<option></option>
				<option ng-repeat="customer in customers" value="{{customer.id}}">{{ customer.name }}</option>
			</select>
			<label>שם חברה</label>
		</div>
		<div class="col-sm-2 form-field">
			<input type="text" ng-model="delivery.destStreet"><label>רחוב</label>
		</div>
		<div class="col-sm-2 form-field">
			<input type="text" ng-model="delivery.destPhone">
			<label>טלפון</label>
		</div>
		<div class="col-sm-1 form-field">
			<input type="text" ng-model="delivery.destHomeNum">
			<label>מס' בית</label>
		</div>
		<div class="col-sm-1 form-field">
			<input type="text" ng-model="delivery.destHomeEnter">
			<label>כניסה</label>
		</div>
		<div class="col-sm-1 form-field">
			<input type="text" ng-model="delivery.destFloor">
			<label>קומה</label>
		</div>
		<div class="col-sm-1 form-field">
			<input type="text" ng-model="delivery.destApart">
			<label>דירה</label>
		</div>
		<div class="col-sm-2 form-field">
			<!--<ui-select ng-model="delivery.destCity" theme="bootstrap">
				<ui-select-match>{{$select.selected.name}}</ui-select-match>
				<ui-select-choices repeat="city.id as city in cities | propsFilter: {name: $select.search, id: $select.search}">
					<div ng-bind-html="city.name | highlight: $select.search"></div>
				</ui-select-choices>
			</ui-select>-->
			<select ng-model="delivery.destCity">
				<option></option>
				<option ng-repeat="city in cities" value="{{city.id}}">{{ city.name }}</option>
			</select>
			<label>עיר</label>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-12 form-field">
			<textarea ng-model="delivery.comment"></textarea>
			<label>הערות</label>
		</div>
		<div class="col-sm-12 form-field">
			<textarea ng-model="delivery.instructions"></textarea>
			<label>הוראות</label>
		</div> 
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-2 form-field">
			<select ng-model="delivery.urgency" class="combobox">
				<option ng-repeat="urg in urgs" value="{{ urg.id }}">{{ urg.name }}</option>
			</select>
			<label>דחף</label>
		</div>
		<div class="col-sm-2 form-field">
			<select ng-model="delivery.doubleType" class="combobox">
				<option ng-repeat="double in doubles" value="{{ double.id }}">{{ double.name }}</option>
			</select>
			<label>סוג כפולה</label>
		</div>
		<div class="col-sm-2 form-field">
			<select ng-model="delivery.vehicleType" class="combobox aaaa">
				<option></option>
				<option ng-repeat="vehicle in vehicles" value="{{ vehicle.id }}">{{ vehicle.name }}</option>
			</select>
			<label>אמצעי הובלה</label>
		</div>
		<div class="col-sm-2 form-field">
			<input type="number" ng-model="delivery.waiting">
			<label>המתנה בדקות</label>
		</div>
		<div class="col-sm-2 form-field">
			<select ng-model="delivery.status" class="combobox">
				<option ng-repeat="status in deliveryStatuses" value="{{ status.id }}">{{ status.name }}</option>
			</select>
			<label>סטטוס</label>
		</div>
		<div class="col-sm-2 form-field">
			<input type="text" ng-model="delivery.barcode">
			<label>ברקוד</label>
		</div>
		<div class="col-sm-2 form-field">
			<input type="text" ng-model="delivery.firstReceiverName">
			<label>מקבל1</label>
		</div>
		<div class="col-sm-2 form-field">
			<input type="text" ng-model="delivery.secondReceiverName">
			<label>מקבל2</label>
		</div>
		<div class="col-sm-2 form-field">
			<select ng-model="delivery.firstDeliver" class="combobox">
				<option ng-repeat="employee in employees" value="{{employee.id}}">{{ employee.name }}</option>
			</select>
			<label>שליח אוסף</label>
		</div>
		<div class="col-sm-2 form-field">
			<select ng-model="delivery.secondDeliver" class="combobox">
				<option ng-repeat="employee in employees" value="{{employee.id}}">{{ employee.name }}</option>
			</select>
			<label>שליח מוסר</label>
		</div>
		<div class="col-sm-2 form-field">
			<select ng-model="delivery.thirdDeliver" class="combobox">
				<option ng-repeat="employee in employees" value="{{employee.id}}">{{ employee.name }}</option>
			</select>
			<label>שליח שלישי</label>
		</div>
		<div class="col-sm-2 form-field">
			<input type="number" ng-model="delivery.certNum">
			<label>מספר תעודה</label>
		</div>
		<div class="col-sm-2 form-field">
			<input type="time" ng-model="delivery.rakazTime">
			<label>זמן רכז</label>
		</div>
		<div class="col-sm-2 form-field">
			<input type="time" ng-model="delivery.exeTime">
			<label>ביצוע בפועל</label>
		</div>
		<div class="col-sm-2 form-field">
			<input type="time" ng-model="delivery.estTime">
			<label>ביצוע משוער</label>
		</div>
		<div class="col-sm-2 form-field">
			<select ng-model="delivery.isTomorrow">
				<option value="false">לא</option>
				<option value="true">כן</option>
			</select>
			<label>מהיום למחר</label>
		</div>
		<div class="col-sm-2 form-field">
			<select ng-model="delivery.signCert">
				<option value="false">לא</option>
				<option value="true">כן</option>
			</select>
			<label>תעודה חתומה</label>
		</div>
		<div class="col-sm-2 form-field">
			<input type="number" ng-model="delivery.numOfPackages">
			<label>חבילות</label>
		</div>
		<div class="col-sm-2 form-field">
			<input type="number" ng-model="delivery.numOfBoxes">
			<label>קרטונים</label>
		</div>
		<div class="col-sm-2 form-field">
			<!-- TODO -->
			<input type="number">
			<label>ת. טלפוני</label>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-sm-2 form-field">
			<input type="number" ng-model="delivery.basicPrice">
			<label>מחיר בסיס</label>
		</div>
		<div class="col-sm-2 form-field">
			<input type="number" ng-model="delivery.totalPrice">
			<label>סה"כ ללקוח</label>
		</div>
		<div class="col-sm-2 form-field">
			<!-- TODO -->
			<input type="number">
			<label>הוצאות</label>
		</div>
		<div class="col-sm-2 form-field">
			<input type="number">
			<label>גוביינא</label>
		</div>
	</div>
	<hr>
	<button ng-click="submitDelivery()" class="btn btn-primary">שלח</button>
	<button ng-click="getPrice()" class="btn">עדכן מחיר</button>
	<button ng-click="showPriceInfo()" class="btn">הצג פירוט מחיר</button>
</div>