<!doctype html>
<html ng-app="anyShip">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=Windows-1255">
        <!--<script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>-->
        <script type="text/javascript" src="static/js/jquery.min.js"></script>

        <script type="text/javascript" src="static/js/angular.min.js"></script>
		<!--<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.3.13/angular.js"></script>-->
        <script type="text/javascript" src="static/js/angular-ui-router.min.js"></script>
        <script type="text/javascript" src="static/js/angular-cookies.min.js"></script>
        <script type="text/javascript" src="static/js/angular-resource.min.js"></script>
		<!--<script type="text/javascript" src="static/js/angular-combobox.js"></script>-->
		<script type="text/javascript" src="static/js/ngDialog.min.js"></script>
		<!--<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-sanitize.js"></script>-->
		<script type="text/javascript" src="static/js/angular-sanitize.js"></script>
        <script type="text/javascript" src="static/js/ui-bootstrap-tpls-0.13.0.min.js"></script>
		<script type="text/javascript" src="static/js/bootstrap.min.js"></script>
		<!--<script type="text/javascript" src="static/js/bootstrap-combobox.js"></script>-->
        <script type="text/javascript" src="static/js/app.js"></script>
        <script type="text/javascript" src="static/js/controllers.js"></script>
        <script type="text/javascript" src="static/js/controllers/newDelivery.js"></script>
        <script type="text/javascript" src="static/js/controllers/regularDelivery.js"></script>
        <script type="text/javascript" src="static/js/controllers/rakaz.js"></script>

		<script type="text/javascript" src="static/js/select.min.js"></script>

        <link rel="stylesheet" href="static/css/style.css">
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/bootstrap-rtl.min.css">
		<link rel="stylesheet" href="static/css/select.min.css">
		<link rel="stylesheet" href="static/css/bootstrap-combobox.css">
		<link rel="stylesheet" href="static/css/ngDialog.min.css">
		<link rel="stylesheet" href="static/css/ngDialog-theme-default.min.css">

    </head>
	<body>
		<div class="container">

			<div class="row" id="mainView" ui-view>

			</div>
		</div>
		<div class="spinner" ng-show="showLoader">
			<div class="spinner-container container1">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
			<div class="spinner-container container2">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
			<div class="spinner-container container3">
				<div class="circle1"></div>
				<div class="circle2"></div>
				<div class="circle3"></div>
				<div class="circle4"></div>
			</div>
		</div>

	</body>
</html>
